body {
  font-family:'Open Sans', sans-serif
}

.md a:link, .md a:visited {
  font-family: 'Open Sans', sans-serif;
  color: #b146c2
}

.md a {
  font-family: 'Open Sans', sans-serif;
}

.md div.title {
  font-family:'Open Sans', sans-serif;
}

.md .subtitle {
  font-family:'Open Sans', sans-serif;
  font-style: italic;
}

.md h1 {
  font-family:'Open Sans', sans-serif;
  border-bottom: 3px solid #b146c2;
  margin-top: 2em;
  padding-top: 0.25em;
  text-align: left;
}

.md table.table {
  border: 1px solid #b146c2
}

.md table.table th {
  background: #b146c2;
  color: white;
  border: 0px;
}

.md table.table td {
  border: 0px
}

tr:nth-child(even) > td {background-color:#efd7f3;}
